In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('s_and_p_500.csv')

In [6]:
(df['Close'] - df['Adj Close']).sum()

0.0

In [7]:
df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Date</th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Adj Close</th>
      <th>Volume</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2017-06-26</td>
      <td>2443.320068</td>
      <td>2450.419922</td>
      <td>2437.030029</td>
      <td>2439.070068</td>
      <td>2439.070068</td>
      <td>3238970000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2017-06-27</td>
      <td>2436.340088</td>
      <td>2440.149902</td>
      <td>2419.379883</td>
      <td>2419.379883</td>
      <td>2419.379883</td>
      <td>3563910000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2017-06-28</td>
      <td>2428.699951</td>
      <td>2442.969971</td>
      <td>2428.020020</td>
      <td>2440.689941</td>
      <td>2440.689941</td>
      <td>3500800000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2017-06-29</td>
      <td>2442.379883</td>
      <td>2442.729980</td>
      <td>2405.699951</td>
      <td>2419.699951</td>
      <td>2419.699951</td>
      <td>3900280000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2017-06-30</td>
      <td>2429.199951</td>
      <td>2432.709961</td>
      <td>2421.649902</td>
      <td>2423.409912</td>
      <td>2423.409912</td>
      <td>3361590000</td>
    </tr>
  </tbody>
</table>
</div>